[instance]
address = example.com

[key]
i = ***
accesstoken = ***
appsecret = ***
i_app_access = ***

[note]
targetReaction = ***

[lists]
target = ***

[user]
target = ***

[drive]
targetUrl = https://example.com/targetImage.png

[messages]
target = ***
