[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
wheel = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-intl = "*"

[packages]
requests = "*"
m2r = "*"

[requires]
python_version = "3"

[scripts]
