[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coveralls = "*"
coverage = "*"
toml = "*"
tox = "*"
pyyaml = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-intl = "*"
m2r = "*"
vcrpy = "*"
pytest-vcr = "*"

[packages]
requests = "*"

[requires]
python_version = "3"

[scripts]
test = "tox"
reporttest = "coveralls"
build-pot = "sphinx-build -M gettext docs build"
update-po = "sphinx-intl update -d docs/locales -p build/gettext -l ja"
