[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coveralls = "*"
coverage = "*"
toml = "*"

[packages]
m2r = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
requests = "*"

[requires]
python_version = "3"
